#!/bin/env bash

source_up
export PROJECT="$(expand_path .)"
export ERL_AFLAGS="-kernel shell_history enabled" # persistent iex history

# default: true
# export PLAYWRIGHT_HEADLESS=false

# default: driver
# export PLAYWRIGHT_TRANSPORT=websocket
# export PLAYWRIGHT_RUN_ASSET_SERVER=false

# default: ws://localhost:3000/playwright
# export PLAYWRIGHT_ENDPOINT="ws://localhost:3000/chromium"

# put your custom/local overrides in here:
source_env_if_exists .local/envrc

PATH_add bin
